In [18]:
# Import necessary libraries
from sklearn.linear_model import *
from sklearn.metrics import *
from sklearn.linear_model import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.preprocessing import *
from sklearn.neighbors import *
from sklearn.naive_bayes import *
from sklearn.pipeline import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
from sklearn.linear_model import *
import os

In [19]:
# Ignore warnings
warnings.simplefilter("ignore")

# Load the training data into a DataFrame named "mohs"
hr = pd.read_csv("HR_comma_sep.csv", index_col=0)

dum_hr = pd.get_dummies(hr,drop_first = True)
x = dum_hr.drop('left', axis=1)
y = dum_hr['left']
hr

,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
satisfaction_level,,,,,,,,,
0.38,0.53,2,157,3,0,1,0,sales,low
0.80,0.86,5,262,6,0,1,0,sales,medium
0.10,0.77,6,247,4,0,1,0,sales,low
0.92,0.85,5,259,5,0,1,0,sales,low
0.89,1.00,5,224,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
0.40,0.57,2,151,3,0,1,0,support,low
0.37,0.48,2,160,3,0,1,0,support,low
0.37,0.53,2,143,3,0,1,0,support,low
0.11,0.96,6,280,4,0,1,0,support,low
0.37,0.52,2,158,3,0,1,0,support,low

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=24)

# applying GaussianNB()
nb = GaussianNB()
nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)
y_pred_proba = nb.predict_proba(x_test)
print("Confusion matrix: \n",confusion_matrix(y_test,y_pred))
print('r2 score(without scaling): ',r2_score(y_test,y_pred))

Confusion matrix:
 [[2158 1287]
 [ 207  847]]
r2 score(without scaling):  -0.851129293891816

# kfold

In [21]:
kfold = StratifiedKFold(n_splits=5,shuffle=True,random_state=24)
nb= GaussianNB()
#with accuracy
results = cross_val_score(nb,x,y,cv=kfold)
print('accuracy: ',results.mean())
#with log loss
results = cross_val_score(nb,x,y,cv=kfold,scoring='neg_log_loss')
print('log loss: ',results.mean())

accuracy:  0.6648882960986996
log loss:  -0.7795614578240097