In [7]:
# Import necessary libraries
from sklearn.linear_model import *
from sklearn.metrics import *
from sklearn.linear_model import *
from sklearn.model_selection import *
from sklearn.compose import *
from sklearn.model_selection import *
from sklearn.model_selection import *
from sklearn.discriminant_analysis import *
from sklearn.preprocessing import *
from sklearn.neighbors import *
from sklearn.naive_bayes import *
from sklearn.pipeline import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
from sklearn.linear_model import *
import os

warnings.simplefilter('ignore')

hr = pd.read_csv("HR_comma_sep.csv")
hr

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14990,0.40,0.57,2,151,3,0,1,0,support,low
14991,0.37,0.48,2,160,3,0,1,0,support,low
14992,0.37,0.53,2,143,3,0,1,0,support,low
14993,0.11,0.96,6,280,4,0,1,0,support,low
14994,0.37,0.52,2,158,3,0,1,0,support,low

# train_test_split

In [8]:
dum_hr = pd.get_dummies(hr, drop_first = True)
y = dum_hr['left']
x = dum_hr.drop('left', axis = 1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, stratify = y, random_state = 24)

# Linear Discriminant Analysis with kfold

In [9]:
lda = LinearDiscriminantAnalysis()
lda.fit(x_train, y_train)
y_pred= lda.predict(x_test)
print(accuracy_score(y_test, y_pred))

0.7695043342965103

# Quadratic Discriminant Analysis with kfold

In [10]:
qda = QuadraticDiscriminantAnalysis()
qda.fit(x_train, y_train)
y_pred= qda.predict(x_test)
print(accuracy_score(y_test, y_pred))

0.863080684596577

# [ cross_val_score ] Linear Discriminant Analysis with kfold

In [11]:
kfold = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 24)
res_lda = cross_val_score(lda, x, y, cv = kfold)
print(res_lda)
print(res_lda.mean())

[0.79059687 0.76858953 0.78892964 0.76958986 0.7735912 ]
0.7782594198066022

# [ cross_val_score ] Quadratic Discriminant Analysis with kfold

In [12]:
kfold = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 24)
res_qda = cross_val_score(qda, x, y, cv = kfold)
print(res_qda)
print(res_qda.mean())

[0.8762921  0.87662554 0.88129376 0.87062354 0.86928976]
0.8748249416472158